@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}
@if (TempData["SuccessMessage"] is not null)
{

    <div id="Alert" class="alert alert-success alert-dismissible fade show">
        <i class="bi bi-check-circle-fill me-2"></i>
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
<div class="main-panel">
    <div class="row">
        
            
        
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <header class="d-flex justify-content-between mt-2 mb-4 align-items-center p-3 rounded-3 shadow-sm bg-light border-start border-4 border-primary">
                        <div >
                            <h2 class="text-primary fw-bold mb-1">
                                <i class="bi bi-journal-bookmark-fill me-2"></i>
                                Roles
                            </h2>
                            <p class="mb-0 mdi-format-color-text">
                                Control roles across the system
                            </p>
                        </div>

                            
                    </header>

                    @*Partial Form*@
                    <partial name="_RoleForm" model="new RoleFormViewModel()" />

                    @if (Model is not null && Model.Any())
                    {
                    <div class="d-flex justify-content-between align-items-center p-3 border rounded shadow-sm bg-white">
                    <table class="table  table-hover mt-5 text-center align-items-center">
                        <thead >
                            <tr>
                                <th ><h5> Id</h5> </th>
                                <th ><h5> Name</h5> </th>
                                        <th class="text-center"> <h5>Actions </h5></th>
                              
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.Id</td>
                                    <td>@role.Name</td>
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center gap-2 text-center" >
                                               <a class="btn  btn-primary p-2"  asp-action="ManagePermissions" asp-route-id="@role.Id">Manage Permissions</a>
                                               <a class="btn btn-outline-warning " asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                                               <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                                        </div>
                                        
                                    </td>
                                </tr>
                               

                            }
                        </tbody>
                    </table>
                </div>
                }
                else
                {
                        <div class="text-center py-5">
                            <i class="bi bi-calendar-x display-1 text-muted"></i>
                            <h4 class="mt-3 text-muted">There are currently no roles defined.</h4>
                            <p class="text-muted">You can add new roles to manage user permissions effectively.</p>
                        </div>
                }
        
                </div>
            </div>
        </div>
        
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}